p {
  line-height: 1.5;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.post {
  border: 1px solid rgba(000,000,000,0.2);
  padding: 10px;
  max-width: 650px;
}

.post > h2 {
  margin: 0;
  padding: 0;
}

/* Your Code Goes Under This Line */
.circle1 {
  background-color: black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.circle2 {
  border: solid black 3px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.newpost {
  border: solid black;
  border-radius: 0 3px 3px 3px;
}